body {
    margin: 0 auto;
}

.navbar, .footer {
    background-color: #563D7C;
    color: #fff;
}

.navbar a, .footer a{
    color: #fff;
}

.content {
    min-height: 700px;
    margin: 10px auto 160px auto;
}

.footer {
    height: 70px;
    line-height: 70px;
    bottom: 0;
    position: fixed;
}

p.mb-1.txt_font13{
    font-size: 13px;
}
h5.mb-1.txt_font15{
    font-size: 15px;
    color: green;
}
.cmt{
    padding: 10px 0 0 2px;
}